tyler_web_app/Connected Services/FilingAssemblyMDEService/caserequest1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.1/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/caserequest" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:caserequest="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/caserequest" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/caserequest" version="5.0" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ecf.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" />
  <xs:import schemaLocation="niem\domains\jxdm\6.1\jxdm.xsd" namespace="http://release.niem.gov/niem/domains/jxdm/6.1/" />
  <xs:import schemaLocation="niem\niem-core\4.0\niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/4.0/" />
  <xs:import schemaLocation="niem\proxy\xsd\4.0\xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" />
  <xs:import schemaLocation="niem\utility\structures\4.0\structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/" />
  <xs:annotation>
    <xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/caserequest</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CaseQueryCriteriaType">
    <xs:annotation>
      <xs:documentation>Criteria limiting the list of cases to be returned.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" ref="caserequest:CalendarEventTimeRange" />
          <xs:element minOccurs="0" maxOccurs="1" ref="caserequest:DocketEntryTimeRange" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="caserequest:DocketEntryTypeCodeFilterText" />
          <xs:element minOccurs="1" maxOccurs="1" ref="caserequest:IncludeCalendarEventIndicator" />
          <xs:element minOccurs="1" maxOccurs="1" ref="caserequest:IncludeDocketEntryIndicator" />
          <xs:element minOccurs="1" maxOccurs="1" ref="caserequest:IncludeParticipantsIndicator" />
          <xs:element minOccurs="0" maxOccurs="1" ref="ecf:CaseTrackingID" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="ecf:CourtEventTypeCode" />
          <xs:element minOccurs="1" maxOccurs="1" ref="j:CaseNumberText" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetCaseRequestMessageType">
    <xs:annotation>
      <xs:documentation>A message requesting a case from a court case management information system conforming to the parameter or parameters identified in the message.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="ecf:RequestMessageType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="caserequest:CaseQueryCriteria" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="caserequest:GetCaseRequestMessageAugmentationPoint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CalendarEventTimeRange" type="nc:DateRangeType">
    <xs:annotation>
      <xs:documentation>A filter criterion for calendar events. If present, the response should only include calendar events that fall between the from and to dates and times.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseQueryCriteria" type="caserequest:CaseQueryCriteriaType">
    <xs:annotation>
      <xs:documentation>Criteria limiting the case information to be returned.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocketEntryTimeRange" type="nc:DateRangeType">
    <xs:annotation>
      <xs:documentation>A filter criterion for docket entries. If present, the response should only include docket entries that fall between the from and to dates and times.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocketEntryTypeCodeFilterText" type="nc:TextType">
    <xs:annotation>
      <xs:documentation>Filter criterion indicating that only docket entries of a specified type are being requested.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GetCaseRequestMessage" type="caserequest:GetCaseRequestMessageType">
    <xs:annotation>
      <xs:documentation>A message requesting a case from a court case management information system conforming to the parameter or parameters identified in the message.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element abstract="true" name="GetCaseRequestMessageAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An extension point for the enclosing message.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncludeCalendarEventIndicator" type="niem-xs:boolean">
    <xs:annotation>
      <xs:documentation>Indicates whether requester wishes calendar event information to be included in the response.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncludeDocketEntryIndicator" type="niem-xs:boolean">
    <xs:annotation>
      <xs:documentation>Indicates whether requester wishes docket entry information to be included in the response.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncludeParticipantsIndicator" type="niem-xs:boolean">
    <xs:annotation>
      <xs:documentation>Indicates whether requester wishes participant information to be included in the response.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>