tyler_web_app/Connected Services/FilingAssemblyMDEService/iCalendar-ms-extensions1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xcal="urn:ietf:params:xml:ns:icalendar-2.0" elementFormDefault="qualified" targetNamespace="urn:ietf:params:xml:ns:icalendar-2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="iCalendar-props.xsd" />
  <xs:element name="x-microsoft-cdo-busystatus" substitutionGroup="xcal:baseProperty" type="xcal:XMicrosoftCdoBusystatusPropType" />
  <xs:element name="x-microsoft-cdo-intendedstatus" substitutionGroup="xcal:baseProperty" type="xcal:XMicrosoftCdoIntendedstatusPropType" />
  <xs:complexType name="XMicrosoftCdoBusystatusPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XMicrosoftCdoIntendedstatusPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextPropertyType" />
    </xs:complexContent>
  </xs:complexType>
</xs:schema>