tyler_web_app/Connected Services/FilingAssemblyMDEService/iCalendar-link-extension1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xcal="urn:ietf:params:xml:ns:icalendar-2.0" elementFormDefault="qualified" targetNamespace="urn:ietf:params:xml:ns:icalendar-2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="iCalendar-valtypes.xsd" />
  <xs:include schemaLocation="iCalendar-params.xsd" />
  <xs:include schemaLocation="iCalendar-props.xsd" />
  <xs:element name="rel" substitutionGroup="xcal:baseParameter" type="xcal:TextParameterType" />
  <xs:complexType name="LinkPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BasePropertyType">
        <xs:choice>
          <xs:element ref="xcal:uri" />
          <xs:element name="uid" type="xs:string" />
          <xs:element name="reference" type="xs:string" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="link" substitutionGroup="xcal:baseProperty" type="xcal:LinkPropType" />
</xs:schema>