tyler_web_app/Connected Services/FilingAssemblyMDEService/iCalendar1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xcal="urn:ietf:params:xml:ns:icalendar-2.0" elementFormDefault="qualified" targetNamespace="urn:ietf:params:xml:ns:icalendar-2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="iCalendar-link-extension.xsd" />
  <xs:include schemaLocation="iCalendar-bw-extensions.xsd" />
  <xs:include schemaLocation="iCalendar-ms-extensions.xsd" />
  <xs:include schemaLocation="iCalendar-availability-extension.xsd" />
  <xs:include schemaLocation="iCalendar-wscal-extensions.xsd" />
  <xs:include schemaLocation="iCalendar-props.xsd" />
  <xs:complexType name="BaseComponentType" abstract="true">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        This type is the basis for all components and provides a base class for
        applications.
        
        Essentially it states that a component is a set of properties.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="properties" type="xcal:ArrayOfProperties" />
    </xs:sequence>
  </xs:complexType>
  <xs:element abstract="true" name="baseComponent" type="xcal:BaseComponentType" />
  <xs:element name="vevent" substitutionGroup="xcal:vcalendarContainedComponent" type="xcal:VeventType" />
  <xs:element name="vtodo" substitutionGroup="xcal:vcalendarContainedComponent" type="xcal:VtodoType" />
  <xs:element name="vjournal" substitutionGroup="xcal:vcalendarContainedComponent" type="xcal:VjournalType" />
  <xs:element name="vfreebusy" substitutionGroup="xcal:vcalendarContainedComponent" type="xcal:VfreebusyType" />
  <xs:element name="vtimezone" substitutionGroup="xcal:vcalendarContainedComponent" type="xcal:VtimezoneType" />
  <xs:element name="standard" substitutionGroup="xcal:baseComponent" type="xcal:StandardType" />
  <xs:element name="daylight" substitutionGroup="xcal:baseComponent" type="xcal:DaylightType" />
  <xs:element name="valarm" type="xcal:ValarmType" />
  <xs:complexType name="IcalendarType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="vcalendar" type="xcal:VcalendarType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="icalendar" type="xcal:IcalendarType" />
  <xs:complexType name="VcalendarType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        This type is the basis for all components and provides a base class for
        applications.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BaseComponentType">
        <xs:sequence>
          <xs:element name="components" type="xcal:ArrayOfVcalendarContainedComponents" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="vcalendar" type="xcal:VcalendarType" />
  <xs:element abstract="true" name="vcalendarContainedComponent" type="xcal:VcalendarContainedComponentType" />
  <xs:complexType name="ArrayOfVcalendarContainedComponents">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="xcal:vcalendarContainedComponent" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VcalendarContainedComponentType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        This type is the basis for all components that can be contained within
        a vcalendar component
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BaseComponentType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VeventType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:EventTodoComponentType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EventTodoComponentType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Events and todos only contain alarms
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:VcalendarContainedComponentType">
        <xs:sequence>
          <xs:element name="components" type="xcal:ArrayOfEventTodoContainedComponents" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfEventTodoContainedComponents">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="xcal:valarm" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VtodoType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:EventTodoComponentType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VjournalType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Journal components contain no other components
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:VcalendarContainedComponentType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VfreebusyType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Freebusy components contain no other components
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:VcalendarContainedComponentType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VtimezoneType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Timezones only contain daylight and standard
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:VcalendarContainedComponentType">
        <xs:sequence>
          <xs:element name="components" type="xcal:ArrayOfTimezoneContainedComponents" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfTimezoneContainedComponents">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="xcal:standard" />
        <xs:element ref="xcal:daylight" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StandardType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Standard components contain no other components
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BaseComponentType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DaylightType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Daylight components contain no other components
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BaseComponentType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ValarmType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:AlarmComponentType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AlarmComponentType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Alarms contain no components
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BaseComponentType" />
    </xs:complexContent>
  </xs:complexType>
</xs:schema>