tyler_web_app/Connected Services/FilingAssemblyMDEService/policyrequest1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/policyrequest" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:policyrequest="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/policyrequest" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/policyrequest" version="5.0" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ecf.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" />
  <xs:import schemaLocation="niem\utility\structures\4.0\structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/" />
  <xs:annotation>
    <xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/policyrequest</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GetPolicyRequestMessageType">
    <xs:annotation>
      <xs:documentation>A request for a court's Court Policy.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="ecf:RequestMessageType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="policyrequest:GetPolicyRequestMessageAugmentationPoint" />
          <xs:element minOccurs="1" maxOccurs="1" ref="policyrequest:PolicyQueryCriteria" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PolicyQueryCriteriaType">
    <xs:annotation>
      <xs:documentation>Criteria limiting the policy information to be returned.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" ref="ecf:CaseTypeCode" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPolicyRequestMessage" type="policyrequest:GetPolicyRequestMessageType">
    <xs:annotation>
      <xs:documentation>A request for a court's Court Policy.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element abstract="true" name="GetPolicyRequestMessageAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An extension point for the enclosing message.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PolicyQueryCriteria" type="policyrequest:PolicyQueryCriteriaType">
    <xs:annotation>
      <xs:documentation>Criteria limiting the policy information to be returned.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>