tyler_web_app/Connected Services/FilingAssemblyMDEService/stampinformationcallback1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:stampinformationcallback="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/stampinformationcallback" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/stampinformationcallback" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/stampinformationcallback" version="5.0" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ecf.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" />
  <xs:import schemaLocation="niem\utility\structures\4.0\structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/" />
  <xs:annotation>
    <xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/stampinformationcallback</xs:documentation>
  </xs:annotation>
  <xs:complexType name="NotifyDocumentStampInformationMessageType">
    <xs:annotation>
      <xs:documentation>A response to a request for document stamping information.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="ecf:CallbackMessageType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="stampinformationcallback:NotifyDocumentStampInformationMessageAugmentationPoint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NotifyDocumentStampInformationMessage" type="stampinformationcallback:NotifyDocumentStampInformationMessageType">
    <xs:annotation>
      <xs:documentation>A response to a request for document stamping information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element abstract="true" name="NotifyDocumentStampInformationMessageAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An extension point for the enclosing message.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>