tyler_web_app/Connected Services/FilingAssemblyMDEService/UBL-QualifiedDataTypes-2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="urn:oasis:names:specification:ubl:schema:xsd:QualifiedDataTypes-2" xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2" xmlns:ccts="urn:un:unece:uncefact:documentation:2" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:QualifiedDataTypes-2" version="2.2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="UBL-UnqualifiedDataTypes-2.2.xsd" namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2" />
  <xsd:complexType name="AllowanceChargeReasonCodeType">
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ChannelCodeType">
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ChipCodeType">
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CountryIdentificationCodeType">
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CurrencyCodeType">
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DocumentStatusCodeType">
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LanguageCodeType">
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LatitudeDirectionCodeType">
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LineStatusCodeType">
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LongitudeDirectionCodeType">
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="OperatorCodeType">
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PackagingTypeCodeType">
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PaymentMeansCodeType">
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ReceiptAdviceTypeCodeType">
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="SubstitutionStatusCodeType">
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TransportEquipmentTypeCodeType">
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TransportModeCodeType">
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="UnitOfMeasureCodeType">
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="WeekDayCodeType">
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="WeighingMethodCodeType">
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType" />
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>