tyler_web_app/Connected Services/CourtPolicyServiceV5/filing.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:filing="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filing" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filing" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filing" version="5.0" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ecf.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" />
  <xs:import schemaLocation="niem\niem-core\4.0\niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/4.0/" />
  <xs:import schemaLocation="niem\utility\structures\4.0\structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/" />
  <xs:annotation>
    <xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filing</xs:documentation>
  </xs:annotation>
  <xs:complexType name="FilingMessageType">
    <xs:annotation>
      <xs:documentation>The structure of a Filing including any Payment Information will be documented in this section. This describes the filing transaction between the Filing Assembly MDE and the Filing Review MDE. This information will become part of the Record Docketing between the Filing Review MDE and the Court Record MDE but does not necessarily describe the information that is actually stored in the Court Record.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="ecf:CaseFilingType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="ecf:ElectronicServiceInformation" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="filing:FilingConnectedDocument" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="filing:FilingLeadDocument" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="filing:FilingMessageAugmentationPoint" />
          <xs:element minOccurs="1" maxOccurs="1" ref="nc:Case" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FilingConnectedDocument" nillable="true" type="nc:DocumentType">
    <xs:annotation>
      <xs:documentation>A document included in a Filing that supports the Document.  This document is not separately entered on the docket or register of actions.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FilingLeadDocument" nillable="true" type="nc:DocumentType">
    <xs:annotation>
      <xs:documentation>The pleading, motion or order that is the main document in a Filing. A Document may have Attachments.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FilingMessage" type="filing:FilingMessageType">
    <xs:annotation>
      <xs:documentation>The structure of a Filing including any Payment Information will be documented in this section. This describes the filing transaction between the Filing Assembly MDE and the Filing Review MDE. This information will become part of the Record Docketing between the Filing Review MDE and the Court Record MDE but does not necessarily describe the information that is actually stored in the Court Record.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element abstract="true" name="FilingMessageAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An extension point for the enclosing message.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>