tyler_web_app/Connected Services/CourtPolicyServiceV5/iCalendar-availability-extension.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xcal="urn:ietf:params:xml:ns:icalendar-2.0" elementFormDefault="qualified" targetNamespace="urn:ietf:params:xml:ns:icalendar-2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="iCalendar-valtypes.xsd" />
  <xs:include schemaLocation="iCalendar.xsd" />
  <xs:include schemaLocation="iCalendar-props.xsd" />
  <xs:complexType name="BusytypePropType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
       encodingparam      = "ENCODING" "="
                          ( "8BIT"
          ; "8bit" text encoding is defined in [RFC2045]
                          / "BASE64"
          ; "BASE64" binary encoding format is defined in [RFC4648]
                          )
      busytypevalue = "BUSY" 
                    / "BUSY-UNAVAILABLE" 
                    / "BUSY-TENTATIVE" 
                    / iana-token 
                    / x-name
                    
                    ; Default is "BUSY-UNAVAILABLE".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VavailabilityType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:VcalendarContainedComponentType">
        <xs:sequence>
          <xs:element name="components" type="xcal:ArrayOfVavailabilityContainedComponents" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="vavailability" substitutionGroup="xcal:vcalendarContainedComponent" type="xcal:VavailabilityType" />
  <xs:complexType name="ArrayOfVavailabilityContainedComponents">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="xcal:available" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AvailableType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BaseComponentType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="available" substitutionGroup="xcal:baseComponent" type="xcal:AvailableType" />
</xs:schema>