tyler_web_app/Connected Services/CourtPolicyServiceV5/iCalendar-params.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xcal="urn:ietf:params:xml:ns:icalendar-2.0" elementFormDefault="qualified" targetNamespace="urn:ietf:params:xml:ns:icalendar-2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="iCalendar-valtypes.xsd" />
  <xs:complexType name="BaseParameterType" abstract="true" />
  <xs:element name="baseParameter" type="xcal:BaseParameterType" />
  <xs:complexType name="ArrayOfParameters">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="xcal:baseParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="altrep" substitutionGroup="xcal:baseParameter" type="xcal:AltrepParamType" />
  <xs:element name="cn" substitutionGroup="xcal:baseParameter" type="xcal:CnParamType" />
  <xs:element name="cutype" substitutionGroup="xcal:baseParameter" type="xcal:CutypeParamType" />
  <xs:element name="delegated-from" substitutionGroup="xcal:baseParameter" type="xcal:DelegatedFromParamType" />
  <xs:element name="delegated-to" substitutionGroup="xcal:baseParameter" type="xcal:DelegatedToParamType" />
  <xs:element name="dir" substitutionGroup="xcal:baseParameter" type="xcal:DirParamType" />
  <xs:element name="encoding" substitutionGroup="xcal:baseParameter" type="xcal:EncodingParamType" />
  <xs:element name="fmttype" substitutionGroup="xcal:baseParameter" type="xcal:FmttypeParamType" />
  <xs:element name="fbtype" substitutionGroup="xcal:baseParameter" type="xcal:FbtypeParamType" />
  <xs:element name="language" substitutionGroup="xcal:baseParameter" type="xcal:LanguageParamType" />
  <xs:element name="member" substitutionGroup="xcal:baseParameter" type="xcal:MemberParamType" />
  <xs:element name="partstat" substitutionGroup="xcal:baseParameter" type="xcal:PartstatParamType" />
  <xs:element name="range" substitutionGroup="xcal:baseParameter" type="xcal:RangeParamType" />
  <xs:element name="related" substitutionGroup="xcal:baseParameter" type="xcal:RelatedParamType" />
  <xs:element name="reltype" substitutionGroup="xcal:baseParameter" type="xcal:ReltypeParamType" />
  <xs:element name="role" substitutionGroup="xcal:baseParameter" type="xcal:RoleParamType" />
  <xs:element name="rsvp" substitutionGroup="xcal:baseParameter" type="xcal:RsvpParamType" />
  <xs:element name="sent-by" substitutionGroup="xcal:baseParameter" type="xcal:SentByParamType" />
  <xs:element name="tzid" substitutionGroup="xcal:baseParameter" type="xcal:TzidParamType" />
  <xs:element name="schedule-agent" substitutionGroup="xcal:baseParameter" type="xcal:ScheduleAgentParamType" />
  <xs:element name="schedule-force-send" substitutionGroup="xcal:baseParameter" type="xcal:ScheduleForceSendParamType" />
  <xs:element name="schedule-status" substitutionGroup="xcal:baseParameter" type="xcal:ScheduleStatusParamType" />
  <xs:complexType name="BooleanParameterType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BaseParameterType">
        <xs:sequence>
          <xs:element ref="xcal:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TextParameterType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BaseParameterType">
        <xs:sequence>
          <xs:element ref="xcal:text" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UriParameterType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BaseParameterType">
        <xs:sequence>
          <xs:element ref="xcal:uri" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CalAddressListParamType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BaseParameterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" ref="xcal:cal-address" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CalAddressParamType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BaseParameterType">
        <xs:sequence>
          <xs:element ref="xcal:cal-address" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AltrepParamType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:UriParameterType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CnParamType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextParameterType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CutypeParamType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
       cutypeparam        = "CUTYPE" "="
                          ("INDIVIDUAL"   ; An individual
                         / "GROUP"        ; A group of individuals
                         / "RESOURCE"     ; A physical resource
                         / "ROOM"         ; A room resource
                         / "UNKNOWN"      ; Otherwise not known
                         / x-name         ; Experimental type
                         / iana-token)    ; Other IANA-registered
                                          ; type
       ; Default is INDIVIDUAL
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextParameterType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DelegatedFromParamType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:CalAddressListParamType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DelegatedToParamType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:CalAddressListParamType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DirParamType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:UriParameterType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EncodingParamType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
       encodingparam      = "ENCODING" "="
                          ( "8BIT"
          ; "8bit" text encoding is defined in [RFC2045]
                          / "BASE64"
          ; "BASE64" binary encoding format is defined in [RFC4648]
                          )
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextParameterType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FmttypeParamType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextParameterType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FbtypeParamType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
       fbtypeparam        = "FBTYPE" "=" 
                         ("FREE" 
                          / "BUSY"
                          / "BUSY-UNAVAILABLE" 
                          / "BUSY-TENTATIVE"
                          / x-name  ; Some experimental iCalendar free/busy type.
                          / iana-token)
                ; Some other IANA-registered iCalendar free/busy type.
       ; Default is BUSY
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextParameterType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LanguageParamType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextParameterType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MemberParamType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:CalAddressListParamType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartstatParamType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
       partstat-event   = ("NEEDS-ACTION"    ; Event needs action
                        / "ACCEPTED"         ; Event accepted
                        / "DECLINED"         ; Event declined
                        / "TENTATIVE"        ; Event tentatively
                                             ; accepted
                        / "DELEGATED"        ; Event delegated
                        / x-name             ; Experimental status
                        / iana-token)        ; Other IANA-registered
                                             ; status
       ; These are the participation statuses for a "VEVENT".
       ; Default is NEEDS-ACTION.

       partstat-todo    = ("NEEDS-ACTION"    ; To-do needs action
                        / "ACCEPTED"         ; To-do accepted
                        / "DECLINED"         ; To-do declined
                        / "TENTATIVE"        ; To-do tentatively
                                             ; accepted
                        / "DELEGATED"        ; To-do delegated
                        / "COMPLETED"        ; To-do completed
                                             ; COMPLETED property has
                                             ; DATE-TIME completed
                        / "IN-PROCESS"       ; To-do in process of
                                             ; being completed
                        / x-name             ; Experimental status
                        / iana-token)        ; Other IANA-registered
                                             ; status
       ; These are the participation statuses for a "VTODO".
       ; Default is NEEDS-ACTION.

       partstat-jour    = ("NEEDS-ACTION"    ; Journal needs action
                        / "ACCEPTED"         ; Journal accepted
                        / "DECLINED"         ; Journal declined
                        / x-name             ; Experimental status
                        / iana-token)        ; Other IANA-registered
                                             ; status
       ; These are the participation statuses for a "VJOURNAL".
       ; Default is NEEDS-ACTION.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextParameterType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="RangeValueType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="THISANDFUTURE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RangeParamType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BaseParameterType">
        <xs:sequence>
          <xs:element name="text" type="xcal:RangeValueType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RelatedParamType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
       trigrelparam       = "RELATED" "="
                           ("START"       ; Trigger off of start
                          / "END")        ; Trigger off of end
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextParameterType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReltypeParamType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
       reltypeparam       = "RELTYPE" "="
                           ("PARENT"    ; Parent relationship - Default
                          / "CHILD"     ; Child relationship
                          / "SIBLING"   ; Sibling relationship
                          / iana-token  ; Some other IANA-registered
                                        ; iCalendar relationship type
                          / x-name)     ; A non-standard, experimental
                                        ; relationship type
        Ws-Calendar adds the values
                           / "FINISHTOSTART"
                           / "FINISHTOFINISH"
                           / "STARTTOFINISH"
                           / "STARTTOSTART"             
                           
       ; Default is PARENT
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextParameterType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RoleParamType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Standard values
           "CHAIR" 
           "REQ-PARTICIPANT" 
           "OPT-PARTICIPANT" 
           "NON-PARTICIPANT"
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextParameterType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RsvpParamType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BooleanParameterType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SentByParamType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:CalAddressParamType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TzidParamType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextParameterType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ScheduleAgentParamType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        scheduleagentparam = "SCHEDULE-AGENT" "="
                        ("SERVER"      ; The server handles scheduling
                       / "CLIENT"      ; The client handles scheduling
                       / "NONE"        ; No automatic scheduling
                       / x-name        ; Experimental type
                       / iana-token)   ; Other IANA registered type
                                       ;
                                       ; Default is SERVER
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextParameterType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ScheduleForceSendParamType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      scheduleforcesendparam = "SCHEDULE-FORCE-SEND" "="
                              ("REQUEST"    ; Force a "REQUEST"
                             / "REPLY"      ; Force a "REPLY"
                             / iana-token)  ; IANA registered method
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextParameterType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ScheduleStatusParamType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextParameterType" />
    </xs:complexContent>
  </xs:complexType>
</xs:schema>