tyler_web_app/Connected Services/CourtPolicyServiceV5/serviceinformationresponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:serviceinformationresponse="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/serviceinformationresponse" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/serviceinformationresponse" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/serviceinformationresponse" version="5.0" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ecf.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" />
  <xs:import schemaLocation="niem\niem-core\4.0\niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/4.0/" />
  <xs:import schemaLocation="niem\utility\structures\4.0\structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/" />
  <xs:annotation>
    <xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/serviceinformationresponse</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GetServiceInformationResponseMessageType">
    <xs:annotation>
      <xs:documentation>The response to a serviceInformationQueryMessage, setting forth the requested information.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="ecf:ResponseMessageType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="serviceinformationresponse:GetServiceInformationResponseMessageAugmentationPoint" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="serviceinformationresponse:ServiceRecipient" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetServiceInformationResponseMessage" type="serviceinformationresponse:GetServiceInformationResponseMessageType">
    <xs:annotation>
      <xs:documentation>The response to a serviceInformationQueryMessage, setting forth the requested information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element abstract="true" name="GetServiceInformationResponseMessageAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An extension point for the enclosing message.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ServiceRecipient" type="nc:EntityType">
    <xs:annotation>
      <xs:documentation>The entity to be served in this case.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>