tyler_web_app/Connected Services/TylerServiceMDEService/ECF-43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:a="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0" attributeFormDefault="qualified" targetNamespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0" version="1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>ECF AppInfo</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="CodeListReference">
    <xsd:annotation>
      <xsd:documentation>References a genericode code list of acceptable values for an element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="CanonicalURI" type="xsd:anyURI" use="required" />
      <xsd:attribute name="CanonicalVersionURI" type="xsd:anyURI" use="optional" />
      <xsd:attribute name="LocationURI" type="xsd:anyURI" use="optional" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CourtPolicyDefinedCodeIndicator" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Indicates a code list to be defined in court policy.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>