tyler_web_app/Connected Services/TylerServiceMDEService/ECF-413.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.0" xmlns="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:ServiceReceiptMessage-4.0" xmlns:a="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:ecf="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" xmlns:receipt="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:MessageReceiptMessage-4.0" targetNamespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:ServiceReceiptMessage-4.0" version="4.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../constraint/niem/niem-core/2.0/niem-core.xsd" namespace="http://niem.gov/niem/niem-core/2.0" />
  <xsd:import schemaLocation="../constraint/niem/structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0" />
  <xsd:import schemaLocation="../constraint/niem/appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0" />
  <xsd:import schemaLocation="../constraint/niem/proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0" />
  <xsd:import schemaLocation="../constraint/niem/domains/jxdm/4.0/jxdm.xsd" namespace="http://niem.gov/niem/domains/jxdm/4.0" />
  <xsd:import schemaLocation="../common/ECF-4.0-CommonTypes.xsd" namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" />
  <xsd:import schemaLocation="ECF-4.0-MessageReceiptMessage.xsd" namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:MessageReceiptMessage-4.0" />
  <xsd:import schemaLocation="../common/ECF-4.0-AppInfo.xsd" namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0" />
  <xsd:annotation>
    <xsd:documentation>ServiceReceiptMessage</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator xmlns:i="http://niem.gov/niem/appinfo/2.0">true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType name="ServiceReceiptMessageType">
    <xsd:annotation>
      <xsd:documentation>A synchronous response by a Filing Assembly MDE acknowledging receipt of a service message for one of its clients.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="receipt:MessageReceiptMessageType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" ref="ServiceRecipientStatus" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ServiceRecipientStatusType">
    <xsd:annotation>
      <xsd:documentation>A value describing the status of electronic service on a particular recipient.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="nc:StatusType">
        <xsd:sequence>
          <xsd:element ref="ecf:ServiceRecipientID" />
          <xsd:element ref="ServiceStatusCode" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ServiceReceiptMessage" type="ServiceReceiptMessageType">
    <xsd:annotation>
      <xsd:documentation>A synchronous response by a Filing Assembly MDE acknowledging receipt of a service message for one of its clients.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ServiceRecipientStatus" type="ServiceRecipientStatusType">
    <xsd:annotation>
      <xsd:documentation>A value describing the status of electronic service on a particular recipient.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ServiceStatusCode" type="xsd:normalizedString">
    <xsd:annotation>
      <xsd:documentation>Status of the service as determined by the system receiving the service. Allowable values defined in ECF-4.0-ValueLevelCode.gc.</xsd:documentation>
      <xsd:appinfo>
        <a:CodeListReference a:CanonicalURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:ServiceStatusCode" a:CanonicalVersionURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:ServiceStatusCode-4.0" a:LocationURI="../../gc/ECF-4.0-ServiceStatusCode.gc" xmlns:a="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0" />
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>