tyler_web_app/Connected Services/TylerFilingReviewMDEService/ECF-432.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.0" xmlns="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CaseQueryMessage-4.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:ecf="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" targetNamespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CaseQueryMessage-4.0" version="4.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../constraint/niem/niem-core/2.0/niem-core.xsd" namespace="http://niem.gov/niem/niem-core/2.0" />
  <xsd:import schemaLocation="../constraint/niem/structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0" />
  <xsd:import schemaLocation="../constraint/niem/appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0" />
  <xsd:import schemaLocation="../constraint/niem/proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0" />
  <xsd:import schemaLocation="../constraint/niem/domains/jxdm/4.0/jxdm.xsd" namespace="http://niem.gov/niem/domains/jxdm/4.0" />
  <xsd:import schemaLocation="../common/ECF-4.0-CommonTypes.xsd" namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" />
  <xsd:annotation>
    <xsd:documentation>CaseQueryMessage</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator xmlns:i="http://niem.gov/niem/appinfo/2.0">true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType name="CaseQueryMessageType">
    <xsd:annotation>
      <xsd:documentation>A message requesting a list of cases from a court's case management information system conforming to the parameter or parameters identified in the message.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="ecf:QueryMessageType">
        <xsd:sequence>
          <xsd:element ref="nc:CaseTrackingID" />
          <xsd:element ref="CaseQueryCriteria" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CaseQueryCriteriaType">
    <xsd:annotation>
      <xsd:documentation>A message requesting a list of cases from a court's case management information system conforming to the parameter or parameters identified in the message.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="IncludeParticipantsIndicator" />
          <xsd:element ref="IncludeDocketEntryIndicator" />
          <xsd:element ref="IncludeCalendarEventIndicator" />
          <xsd:element ref="DocketEntryTypeCodeFilterText" />
          <xsd:element ref="CalendarEventTypeCodeFilterText" />
          <xsd:element minOccurs="0" ref="DocketEntryTimeRange" />
          <xsd:element minOccurs="0" ref="CalendarEventTimeRange" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CalendarEventTimeRange" type="nc:DateRangeType">
    <xsd:annotation>
      <xsd:documentation>A filter criterion for calendar events. If present, the response should only include calendar events that fall between the from and to dates and times.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CalendarEventTypeCodeFilterText" type="nc:TextType">
    <xsd:annotation>
      <xsd:documentation>Filter criterion indicating that only calendar entries of a specified type are being requested.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CaseQueryCriteria" type="CaseQueryCriteriaType">
    <xsd:annotation>
      <xsd:documentation>Criteria limiting the case information to be returned.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CaseQueryMessage" type="CaseQueryMessageType">
    <xsd:annotation>
      <xsd:documentation>A message requesting a list of cases from a court's case management information system conforming to the parameter or parameters identified in the message.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DocketEntryTimeRange" type="nc:DateRangeType">
    <xsd:annotation>
      <xsd:documentation>A filter criterion for docket entries. If present, the response should only include docket entries that fall between the from and to dates and times.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DocketEntryTypeCodeFilterText" type="nc:TextType">
    <xsd:annotation>
      <xsd:documentation>Filter criterion indicating that only docket entries of a specified type are being requested.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IncludeParticipantsIndicator" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Indicates whether requester wishes participant information to be included in the response.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IncludeDocketEntryIndicator" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Indicates whether requester wishes docket entry information to be included in the response.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IncludeCalendarEventIndicator" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Indicates whether requester wishes calendar event information to be included in the response.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>