tyler_web_app/Connected Services/TylerFilingReviewMDEService/ECF-423.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:PaymentMessage-4.0" xmlns:ecf="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" xmlns:a="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0" xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" targetNamespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:PaymentMessage-4.0" version="4.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../common/ECF-4.0-CommonTypes.xsd" namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" />
  <xsd:import schemaLocation="../common/ECF-4.0-AppInfo.xsd" namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0" />
  <xsd:import schemaLocation="UBL-CommonAggregateComponents-2.1.xsd" namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" />
  <xsd:complexType name="PaymentMessageType">
    <xsd:annotation>
      <xsd:documentation>The payment submitted with a filing. The payment may consist of a fee for filing of the document(s) submitted, or for a fine or other payment due to the court.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="FeeExceptionReasonCode" />
      <xsd:element minOccurs="0" ref="FeeExceptionSupportingText" />
      <xsd:element ref="PayerName" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="cac:AllowanceCharge" />
      <xsd:element ref="cac:Address" />
      <xsd:element ref="cac:Payment" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="FeeExceptionReasonCode" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>A code for the reason why a filer does not have to pay an otherwise applicable payment. Allowable values set forth in Court Policy. Examples are in forma pauperis status granted or a fee waiver application submitted with the filing..</xsd:documentation>
      <xsd:appinfo>
        <a:CourtPolicyDefinedCodeIndicator xmlns:a="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0">true</a:CourtPolicyDefinedCodeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FeeExceptionSupportingText" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Any text needed to support the exemption assertion (reference to a court order, etc.)</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PaymentMessage" type="PaymentMessageType">
    <xsd:annotation>
      <xsd:documentation>The payment submitted with a filing. The payment may consist of a fee for filing of the document(s) submitted, or for a fine or other payment due to the court.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PayerName" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Name of the payer of the FilingPayment.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>