tyler_web_app/Connected Services/TylerFilingReviewMDEService/ECF-431.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:FeesCalculationResponseMessage-4.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:ecf="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" targetNamespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:FeesCalculationResponseMessage-4.0" version="4.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../constraint/niem/niem-core/2.0/niem-core.xsd" namespace="http://niem.gov/niem/niem-core/2.0" />
  <xsd:import schemaLocation="../constraint/niem/structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0" />
  <xsd:import schemaLocation="../constraint/niem/appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0" />
  <xsd:import schemaLocation="../constraint/niem/proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0" />
  <xsd:import schemaLocation="../common/ECF-4.0-CommonTypes.xsd" namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" />
  <xsd:import schemaLocation="UBL-CommonAggregateComponents-2.1.xsd" namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" />
  <xsd:annotation>
    <xsd:documentation>FeesCalculationResponseMessage</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator xmlns:i="http://niem.gov/niem/appinfo/2.0">true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType name="FeesCalculationResponseMessageType">
    <xsd:annotation>
      <xsd:documentation>The response to a FeesCalculationQueryMessage, which may either be "0" indicating no fee is due, a currency amount indicating the fee due upon filing, or "unknown" indicating that the court's case management information system is unable to calculate the fee for the proposed filing. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="ecf:QueryResponseMessageType">
        <xsd:sequence>
          <xsd:element ref="FeesCalculationAmount" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" ref="cac:AllowanceCharge" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="FeesCalculationAmount" type="nc:AmountType">
    <xsd:annotation>
      <xsd:documentation>A fee or price required to submit a document. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FeesCalculationResponseMessage" type="FeesCalculationResponseMessageType">
    <xsd:annotation>
      <xsd:documentation>The response to a FeesCalculationQueryMessage, which may either be "0" indicating no fee is due, a currency amount indicating the fee due upon filing, or "unknown" indicating that the court's case management information system is unable to calculate the fee for the proposed filing. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>