tyler_web_app/Connected Services/TylerFilingReviewMDEService/NotifyServiceMessage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.0" xmlns="urn:tyler:ecf:extensions:NotifyServiceMessage" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:ecf="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" targetNamespace="urn:tyler:ecf:extensions:NotifyServiceMessage" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../constraint/niem/niem-core/2.0/niem-core.xsd" namespace="http://niem.gov/niem/niem-core/2.0" />
  <xsd:import schemaLocation="../constraint/niem/structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0" />
  <xsd:import schemaLocation="../constraint/niem/appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0" />
  <xsd:import schemaLocation="../constraint/niem/proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0" />
  <xsd:import schemaLocation="../constraint/niem/domains/jxdm/4.0/jxdm.xsd" namespace="http://niem.gov/niem/domains/jxdm/4.0" />
  <xsd:import schemaLocation="../common/ECF-4.0-CommonTypes.xsd" namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" />
  <xsd:complexType name="NotifyServiceMessageType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ecf:CaseFilingType">
        <xsd:sequence>
          <xsd:element ref="nc:Case" />
          <xsd:element maxOccurs="unbounded" ref="ServiceRecipient" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ServiceRecipientType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="nc:EntityType">
        <xsd:sequence>
          <xsd:element ref="ServiceContactID" />
          <xsd:element minOccurs="0" ref="SentDate" />
          <xsd:element ref="Status" />
          <xsd:element minOccurs="0" ref="nc:EntityPersonReference" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="NotifyServiceMessage" type="NotifyServiceMessageType" />
  <xsd:element name="ServiceRecipient" type="ServiceRecipientType" />
  <xsd:element name="ServiceContactID" type="nc:IdentificationType" />
  <xsd:element name="SentDate" type="nc:DateType" />
  <xsd:element name="Status" type="nc:TextType" />
</xsd:schema>