tyler_web_app/Connected Services/TylerCourtRecordMDEV5/batchlistrequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:batchlistrequest="urn:tyler:ecf:v5.0:extensions:batchlistrequest" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.1/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:common="urn:tyler:ecf:v5.0:extensions:common" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:tyler:ecf:v5.0:extensions:batchlistrequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../ecf.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" />
  <xs:import schemaLocation="../niem/domains/jxdm/6.1/jxdm.xsd" namespace="http://release.niem.gov/niem/domains/jxdm/6.1/" />
  <xs:import schemaLocation="../niem/niem-core/4.0/niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/4.0/" />
  <xs:import schemaLocation="../niem/proxy/xsd/4.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" />
  <xs:import schemaLocation="../niem/utility/structures/4.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/" />
  <xs:import schemaLocation="common.xsd" namespace="urn:tyler:ecf:v5.0:extensions:common" />
  <xs:complexType name="BatchListQueryCriteriaType">
    <xs:annotation>
      <xs:documentation>Criteria limiting the list of batches to be returned.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="nc:DateRange" />
          <xs:element minOccurs="0" maxOccurs="1" ref="common:BatchIdentification" />
          <xs:element minOccurs="0" maxOccurs="1" ref="common:BatchStatusCode" />
          <xs:element minOccurs="0" maxOccurs="1" ref="j:CaseCourt" />
          <xs:element minOccurs="0" maxOccurs="1" ref="ecf:CaseCategoryCode" />
          <xs:element minOccurs="0" maxOccurs="1" ref="ecf:CaseTypeCode" />
          <xs:element minOccurs="0" maxOccurs="1" ref="ecf:RegisterActionDescriptionCode" />
          <xs:element minOccurs="1" maxOccurs="1" ref="batchlistrequest:IncludeFirmsBatchIndicator" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetBatchListMessageType">
    <xs:annotation>
      <xs:documentation>Message to retrieve batches.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="ecf:RequestMessageType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="batchlistrequest:BatchListQueryCriteria" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="batchlistrequest:GetBatchListMessageAugmentationPoint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBatchListMessage" type="batchlistrequest:GetBatchListMessageType">
    <xs:annotation>
      <xs:documentation>Message to retrieve batches.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element abstract="true" name="GetBatchListMessageAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An extension point for the enclosing message.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BatchListQueryCriteria" type="batchlistrequest:BatchListQueryCriteriaType" />
  <xs:element name="IncludeFirmsBatchIndicator" type="niem-xs:boolean" />
</xs:schema>