tyler_web_app/Connected Services/TylerCourtRecordMDEV5/batchdetailresponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:batchdetailresponse="urn:tyler:ecf:v5.0:extensions:batchdetailresponse" xmlns:common="urn:tyler:ecf:v5.0:extensions:common" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:tyler:ecf:v5.0:extensions:batchdetailresponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../ecf.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" />
  <xs:import schemaLocation="../niem/niem-core/4.0/niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/4.0/" />
  <xs:import schemaLocation="../niem/proxy/xsd/4.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" />
  <xs:import schemaLocation="../niem/utility/structures/4.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/" />
  <xs:import schemaLocation="common.xsd" namespace="urn:tyler:ecf:v5.0:extensions:common" />
  <xs:complexType name="GetBatchDetailResponseMessageType">
    <xs:annotation>
      <xs:documentation>Message to return batch detail.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="ecf:ResponseMessageType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" ref="common:BatchStatus" />
          <xs:element minOccurs="0" maxOccurs="1" ref="common:HearingSchedule" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="common:Envelope" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="batchdetailresponse:GetBatchDetailResponseMessageAugmentationPoint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBatchDetailResponseMessage" type="batchdetailresponse:GetBatchDetailResponseMessageType">
    <xs:annotation>
      <xs:documentation>Message to retrieve batches.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element abstract="true" name="GetBatchDetailResponseMessageAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An extension point for the enclosing message.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>