tyler_web_app/Connected Services/TylerCourtRecordMDEV5/civil.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:civil="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/civil" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:hs="http://release.niem.gov/niem/domains/humanServices/4.1/" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/civil" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/civil" version="5.0" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ecf.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" />
  <xs:import schemaLocation="niem\domains\humanServices\4.1\hs.xsd" namespace="http://release.niem.gov/niem/domains/humanServices/4.1/" />
  <xs:import schemaLocation="niem\niem-core\4.0\niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/4.0/" />
  <xs:import schemaLocation="niem\proxy\xsd\4.0\xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" />
  <xs:import schemaLocation="niem\utility\structures\4.0\structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/" />
  <xs:annotation>
    <xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/civil</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CaseAugmentationType">
    <xs:complexContent mixed="false">
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" ref="civil:AmountInControversy" />
          <xs:element minOccurs="0" maxOccurs="1" ref="civil:CivilClassActionIndicator" />
          <xs:element minOccurs="0" maxOccurs="1" ref="civil:DecedentEstateCase" />
          <xs:element minOccurs="0" maxOccurs="1" ref="civil:FiduciaryCaseAssociation" />
          <xs:element minOccurs="0" maxOccurs="1" ref="civil:JurisdictionalGroundsCode" />
          <xs:element minOccurs="0" maxOccurs="1" ref="civil:JuryDemandIndicator" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="civil:ReliefTypeCode" />
          <xs:element minOccurs="1" maxOccurs="1" ref="ecf:CauseOfActionCode" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DecedentEstateCaseType">
    <xs:annotation>
      <xs:documentation>Information about a case administering and distributing the assets of a testate or intestate decedent.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="civil:Decedent" />
          <xs:element minOccurs="0" maxOccurs="1" ref="civil:WillFilingDate" />
          <xs:element minOccurs="1" maxOccurs="1" ref="nc:PersonDeathDate" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FiduciaryCaseAssociationType">
    <xs:annotation>
      <xs:documentation>Information about a guardianship, conservatorship, trust, or mental health case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="hs:PersonCaseAssociationType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="civil:FiduciaryTypeCode" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AmountInControversy" type="nc:AmountType">
    <xs:annotation>
      <xs:documentation>The amount set forth in an ad damnum clause in a complaint, counter claim, or cross complaint.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseAugmentation" nillable="true" substitutionGroup="nc:CaseAugmentationPoint" type="civil:CaseAugmentationType">
    <xs:annotation>
      <xs:documentation>Information required to initiate a new civil case in a court.  "Civil" includes conservatorships, guardianships, mental health and probate.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CivilClassActionIndicator" type="niem-xs:boolean">
    <xs:annotation>
      <xs:documentation>Whether the filer is requesting that this case proceed as a class action.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Decedent" nillable="true" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>The deceased person who estate is the subject of a court case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DecedentEstateCase" type="civil:DecedentEstateCaseType">
    <xs:annotation>
      <xs:documentation>Information about a case administering and distributing the assets of a testate or intestate decedent.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FiduciaryCaseAssociation" type="civil:FiduciaryCaseAssociationType">
    <xs:annotation>
      <xs:documentation>InfInformation about a guardianship, conservatorship, trust, or mental health case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FiduciaryTypeCode" type="nc:TextType">
    <xs:annotation>
      <xs:documentation>Legal description of the role of a fiduciary. Examples: guardian, trustee, conservator of the person, conservator of the estate.</xs:documentation>
      <xs:appinfo>
        <clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/FiduciaryTypeCode" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" />
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="JurisdictionalGroundsCode" type="nc:TextType">
    <xs:annotation>
      <xs:documentation>The grounds for invoking the jurisdiction of a limited jurisdiction court.  Allowed values set forth in Court policy. Not used in general jurisdiction courts.</xs:documentation>
      <xs:appinfo>
        <clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/JurisdictionalGroundsCode" />
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="JuryDemandIndicator" type="niem-xs:boolean">
    <xs:annotation>
      <xs:documentation>Whether filer invokes the right to trial by jury.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReliefTypeCode" type="nc:TextType">
    <xs:annotation>
      <xs:documentation>Indicator of the type of relief requested in the case, e.g., damages, equitable relief (injunction).  Allowable values defined in Court Policy.</xs:documentation>
      <xs:appinfo>
        <clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ReliefTypeCode" />
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="WillFilingDate" type="nc:DateType">
    <xs:annotation>
      <xs:documentation>Date on which the will of the decesaed person was filed in the court.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>