tyler_web_app/Connected Services/TylerCourtRecordMDEV5/filingserviceresponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.1/" xmlns:common="urn:tyler:ecf:v5.0:extensions:common" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns="urn:tyler:ecf:v5.0:extensions:filingserviceresponse" targetNamespace="urn:tyler:ecf:v5.0:extensions:filingserviceresponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../ecf.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" />
  <xs:import schemaLocation="../niem/domains/jxdm/6.1/jxdm.xsd" namespace="http://release.niem.gov/niem/domains/jxdm/6.1/" />
  <xs:import schemaLocation="../niem/niem-core/4.0/niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/4.0/" />
  <xs:import schemaLocation="../niem/proxy/xsd/4.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" />
  <xs:import schemaLocation="../extension/common.xsd" namespace="urn:tyler:ecf:v5.0:extensions:common" />
  <xs:complexType name="GetFilingServiceResponseMessageType">
    <xs:complexContent mixed="false">
      <xs:extension base="ecf:ResponseMessageType">
        <xs:sequence>
          <xs:element ref="ecf:ServiceRecipientID" />
          <xs:element minOccurs="1" ref="MailServiceIndicator" />
          <xs:element minOccurs="0" ref="TrackingNumber" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="SmtpLog" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetFilingServiceResponseMessage" type="GetFilingServiceResponseMessageType" />
  <xs:element name="MailServiceIndicator" type="niem-xs:boolean" />
  <xs:element name="SmtpLog" type="nc:TextType" />
  <xs:element name="TrackingNumber" type="nc:TextType" />
</xs:schema>