tyler_web_app/Connected Services/TylerCourtRecordMDEV5/iCalendar-props.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xcal="urn:ietf:params:xml:ns:icalendar-2.0" elementFormDefault="qualified" targetNamespace="urn:ietf:params:xml:ns:icalendar-2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="iCalendar-params.xsd" />
  <xs:complexType name="BasePropertyType" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" ref="xcal:parameters" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="parameters" type="xcal:ArrayOfParameters" />
  <xs:element name="baseProperty" type="xcal:BasePropertyType" />
  <xs:complexType name="ArrayOfProperties">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="xcal:baseProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="calscale" substitutionGroup="xcal:baseProperty" type="xcal:CalscalePropType" />
  <xs:element name="method" substitutionGroup="xcal:baseProperty" type="xcal:MethodPropType" />
  <xs:element name="prodid" substitutionGroup="xcal:baseProperty" type="xcal:ProdidPropType" />
  <xs:element name="version" substitutionGroup="xcal:baseProperty" type="xcal:VersionPropType" />
  <xs:element name="attach" substitutionGroup="xcal:baseProperty" type="xcal:AttachPropType" />
  <xs:element name="categories" substitutionGroup="xcal:baseProperty" type="xcal:CategoriesPropType" />
  <xs:element name="class" substitutionGroup="xcal:baseProperty" type="xcal:ClassPropType" />
  <xs:element name="comment" substitutionGroup="xcal:baseProperty" type="xcal:CommentPropType" />
  <xs:element name="description" substitutionGroup="xcal:baseProperty" type="xcal:DescriptionPropType" />
  <xs:element name="geo" substitutionGroup="xcal:baseProperty" type="xcal:GeoPropType" />
  <xs:element name="location" substitutionGroup="xcal:baseProperty" type="xcal:LocationPropType" />
  <xs:element name="percent-complete" substitutionGroup="xcal:baseProperty" type="xcal:PercentCompletePropType" />
  <xs:element name="priority" substitutionGroup="xcal:baseProperty" type="xcal:PriorityPropType" />
  <xs:element name="resources" substitutionGroup="xcal:baseProperty" type="xcal:ResourcesPropType" />
  <xs:element name="status" substitutionGroup="xcal:baseProperty" type="xcal:StatusPropType" />
  <xs:element name="summary" substitutionGroup="xcal:baseProperty" type="xcal:SummaryPropType" />
  <xs:element name="completed" substitutionGroup="xcal:baseProperty" type="xcal:CompletedPropType" />
  <xs:element name="dtend" substitutionGroup="xcal:baseProperty" type="xcal:DtendPropType" />
  <xs:element name="dtstart" substitutionGroup="xcal:baseProperty" type="xcal:DtstartPropType" />
  <xs:element name="due" substitutionGroup="xcal:baseProperty" type="xcal:DuePropType" />
  <xs:element name="duration" substitutionGroup="xcal:baseProperty" type="xcal:DurationPropType" />
  <xs:element name="freebusy" substitutionGroup="xcal:baseProperty" type="xcal:FreebusyPropType" />
  <xs:element name="transp" substitutionGroup="xcal:baseProperty" type="xcal:TranspPropType" />
  <xs:element name="tzname" substitutionGroup="xcal:baseProperty" type="xcal:TznamePropType" />
  <xs:element name="tzoffsetfrom" substitutionGroup="xcal:baseProperty" type="xcal:TzoffsetfromPropType" />
  <xs:element name="tzoffsetto" substitutionGroup="xcal:baseProperty" type="xcal:TzoffsettoPropType" />
  <xs:element name="tzurl" substitutionGroup="xcal:baseProperty" type="xcal:TzurlPropType" />
  <xs:element name="attendee" substitutionGroup="xcal:baseProperty" type="xcal:AttendeePropType" />
  <xs:element name="contact" substitutionGroup="xcal:baseProperty" type="xcal:ContactPropType" />
  <xs:element name="organizer" substitutionGroup="xcal:baseProperty" type="xcal:OrganizerPropType" />
  <xs:element name="recurrence-id" substitutionGroup="xcal:baseProperty" type="xcal:RecurrenceIdPropType" />
  <xs:element name="url" substitutionGroup="xcal:baseProperty" type="xcal:UrlPropType" />
  <xs:element name="uid" substitutionGroup="xcal:baseProperty" type="xcal:UidPropType" />
  <xs:element name="exdate" substitutionGroup="xcal:baseProperty" type="xcal:ExdatePropType" />
  <xs:element name="rdate" substitutionGroup="xcal:baseProperty" type="xcal:RdatePropType" />
  <xs:element name="related-to" substitutionGroup="xcal:baseProperty" type="xcal:RelatedToPropType" />
  <xs:element name="exrule" substitutionGroup="xcal:baseProperty" type="xcal:ExrulePropType" />
  <xs:element name="rrule" substitutionGroup="xcal:baseProperty" type="xcal:RrulePropType" />
  <xs:element name="action" substitutionGroup="xcal:baseProperty" type="xcal:ActionPropType" />
  <xs:element name="repeat" substitutionGroup="xcal:baseProperty" type="xcal:RepeatPropType" />
  <xs:element name="trigger" substitutionGroup="xcal:baseProperty" type="xcal:TriggerPropType" />
  <xs:element name="created" substitutionGroup="xcal:baseProperty" type="xcal:CreatedPropType" />
  <xs:element name="dtstamp" substitutionGroup="xcal:baseProperty" type="xcal:DtstampPropType" />
  <xs:element name="last-modified" substitutionGroup="xcal:baseProperty" type="xcal:LastModifiedPropType" />
  <xs:element name="sequence" substitutionGroup="xcal:baseProperty" type="xcal:SequencePropType" />
  <xs:element name="request-status" substitutionGroup="xcal:baseProperty" type="xcal:RequestStatusPropType" />
  <xs:complexType name="TextPropertyType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BasePropertyType">
        <xs:sequence>
          <xs:element ref="xcal:text" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TextListPropertyType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BasePropertyType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" ref="xcal:text" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CalAddressPropertyType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BasePropertyType">
        <xs:sequence>
          <xs:element ref="xcal:cal-address" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IntegerPropertyType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BasePropertyType">
        <xs:sequence>
          <xs:element ref="xcal:integer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UriPropertyType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BasePropertyType">
        <xs:sequence>
          <xs:element ref="xcal:uri" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UtcOffsetPropertyType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BasePropertyType">
        <xs:sequence>
          <xs:element ref="xcal:utc-offset" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DatetimePropertyType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BasePropertyType">
        <xs:sequence>
          <xs:element ref="xcal:date-time" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UtcDatetimePropertyType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BasePropertyType">
        <xs:sequence>
          <xs:element ref="xcal:utc-date-time" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateDatetimePropertyType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BasePropertyType">
        <xs:sequence>
          <xs:choice>
            <xs:element ref="xcal:date-time" />
            <xs:element ref="xcal:date" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RecurPropertyType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BasePropertyType">
        <xs:sequence>
          <xs:element name="recur" type="xcal:RecurType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CalscaleValueType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GREGORIAN" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CalscalePropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BasePropertyType">
        <xs:sequence>
          <xs:element name="text" type="xcal:CalscaleValueType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MethodPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProdidPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VersionPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AttachPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BasePropertyType">
        <xs:choice>
          <xs:element ref="xcal:uri" />
          <xs:element ref="xcal:binary" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CategoriesPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextListPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClassPropType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
       classvalue = "PUBLIC" / "PRIVATE" / "CONFIDENTIAL" / iana-token
                  / x-name
       ;Default is PUBLIC
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CommentPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DescriptionPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GeoPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BasePropertyType">
        <xs:sequence>
          <xs:element ref="xcal:latitude" />
          <xs:element ref="xcal:longitude" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="latitude" type="xs:float" />
  <xs:element name="longitude" type="xs:float" />
  <xs:complexType name="LocationPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PercentCompletePropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:IntegerPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PriorityPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:IntegerPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ResourcesPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextListPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StatusPropType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
       status          = "STATUS" statparam ":" statvalue CRLF

       statparam       = *(";" other-param)

       statvalue       = (statvalue-event
                       /  statvalue-todo
                       /  statvalue-jour)

       statvalue-event = "TENTATIVE"    ;Indicates event is tentative.
                       / "CONFIRMED"    ;Indicates event is definite.
                       / "CANCELLED"    ;Indicates event was cancelled.
       ;Status values for a "VEVENT"

       statvalue-todo  = "NEEDS-ACTION" ;Indicates to-do needs action.
                       / "COMPLETED"    ;Indicates to-do completed.
                       / "IN-PROCESS"   ;Indicates to-do in process of.
                       / "CANCELLED"    ;Indicates to-do was cancelled.
       ;Status values for "VTODO".

       statvalue-jour  = "DRAFT"        ;Indicates journal is draft.
                       / "FINAL"        ;Indicates journal is final.
                       / "CANCELLED"    ;Indicates journal is removed.
      ;Status values for "VJOURNAL".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SummaryPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CompletedPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:UtcDatetimePropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DtendPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:DateDatetimePropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DuePropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:DateDatetimePropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DtstartPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:DateDatetimePropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DurationPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BasePropertyType">
        <xs:sequence>
          <xs:element name="duration" type="xcal:DurationValueType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FreebusyPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BasePropertyType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" ref="xcal:period" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TranspPropType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
       transvalue = "OPAQUE"
                   ;Blocks or opaque on busy time searches.
                   / "TRANSPARENT"
                   ;Transparent on busy time searches.
       ;Default value is OPAQUE
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TzidPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TznamePropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TzoffsetfromPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:UtcOffsetPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TzoffsettoPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:UtcOffsetPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TzurlPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:UriPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AttendeePropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:CalAddressPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContactPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganizerPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:CalAddressPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RecurrenceIdPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:DateDatetimePropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RelatedToPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BasePropertyType">
        <xs:choice>
          <xs:element ref="xcal:uri" />
          <xs:element name="uid" type="xs:string" />
          <xs:element ref="xcal:text" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UrlPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:UriPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UidPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExdatePropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:DateDatetimePropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RdatePropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:DateDatetimePropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RrulePropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:RecurPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExrulePropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:RecurPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ActionPropType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
       actionvalue = "AUDIO" / "DISPLAY" / "EMAIL"
                   / iana-token / x-name
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RepeatPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:IntegerPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TriggerPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BasePropertyType">
        <xs:sequence>
          <xs:choice>
            <xs:element name="duration" type="xcal:DurationValueType" />
            <xs:element ref="xcal:date-time" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CreatedPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:UtcDatetimePropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DtstampPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:UtcDatetimePropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LastModifiedPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:UtcDatetimePropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SequencePropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:IntegerPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RequestStatusPropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BasePropertyType">
        <xs:sequence>
          <xs:element name="code" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="extdata" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>