tyler_web_app/Connected Services/TylerCourtRecordMDEV5/notifyevent.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:eventcallback="urn:tyler:ecf:v5.0:extensions:eventcallback" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:tyler:ecf:v5.0:extensions:eventcallback" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../ecf.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" />
  <xs:import schemaLocation="../niem/niem-core/4.0/niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/4.0/" />
  <xs:import schemaLocation="../niem/proxy/xsd/4.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" />
  <xs:import schemaLocation="../niem/utility/structures/4.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/" />
  <xs:complexType name="NotifyEventMessageType">
    <xs:annotation>
      <xs:documentation>Message to notify of events.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="ecf:CaseFilingType">
        <xs:sequence>
          <xs:element ref="eventcallback:EventTypeCode" />
          <xs:element ref="eventcallback:Event" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="eventcallback:NotifyEventMessageAugmentationPoint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NotifyEventMessage" type="eventcallback:NotifyEventMessageType">
    <xs:annotation>
      <xs:documentation>Message resulting from notification of event.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EventTypeCode" type="nc:TextType" />
  <xs:element name="Event" type="eventcallback:EventType" />
  <xs:element name="EventVariable" type="eventcallback:EventVariableType" />
  <xs:element name="EventKey" type="nc:TextType" />
  <xs:element name="EventValue" type="nc:TextType" />
  <xs:complexType name="EventType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="eventcallback:EventVariable" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EventVariableType">
    <xs:sequence>
      <xs:element ref="eventcallback:EventKey" />
      <xs:element ref="eventcallback:EventValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element abstract="true" name="NotifyEventMessageAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An extension point for the enclosing message.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>