tyler_web_app/Connected Services/TylerCourtRecordMDEV5/partylistrequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.1/" xmlns:common="urn:tyler:ecf:v5.0:extensions:common" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns="urn:tyler:ecf:v5.0:extensions:partylistrequest" targetNamespace="urn:tyler:ecf:v5.0:extensions:partylistrequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../ecf.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" />
  <xs:import schemaLocation="../niem/domains/jxdm/6.1/jxdm.xsd" namespace="http://release.niem.gov/niem/domains/jxdm/6.1/" />
  <xs:import schemaLocation="../niem/niem-core/4.0/niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/4.0/" />
  <xs:import schemaLocation="../extension/common.xsd" namespace="urn:tyler:ecf:v5.0:extensions:common" />
  <xs:complexType name="GetPartyListMessageType">
    <xs:complexContent mixed="false">
      <xs:extension base="ecf:RequestMessageType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" ref="Party" />
          <xs:element minOccurs="0" maxOccurs="1" ref="common:FilerIdentification" />
          <xs:element minOccurs="1" ref="MaxNumberOfResults" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPartyListMessage" type="GetPartyListMessageType" />
  <xs:element name="Party" type="nc:EntityType" />
  <xs:element name="MaxNumberOfResults" type="nc:NonNegativeDecimalType" />
</xs:schema>