tyler_web_app/Connected Services/TylerCourtRecordMDEV5/recordservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:common="urn:tyler:ecf:v5.0:extensions:common" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:recordservice="urn:tyler:ecf:v5.0:extensions:recordservice" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:tyler:ecf:v5.0:extensions:recordservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="..\ecf.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" />
  <xs:import schemaLocation="..\niem\niem-core\4.0\niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/4.0/" />
  <xs:import schemaLocation="..\niem\proxy\xsd\4.0\xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" />
  <xs:import schemaLocation="..\niem\utility\structures\4.0\structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/" />
  <xs:import schemaLocation="common.xsd" namespace="urn:tyler:ecf:v5.0:extensions:common" />
  <xs:complexType name="RecordServiceMessageType">
    <xs:annotation>
      <xs:documentation>Message to record service for filing.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="ecf:CaseFilingType">
        <xs:sequence>
          <xs:element minOccurs="0" ref="nc:Case" />
          <xs:element maxOccurs="unbounded" ref="common:ServiceRecipient" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="recordservice:RecordServiceMessageAugmentationPoint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RecordServiceMessage" type="recordservice:RecordServiceMessageType">
    <xs:annotation>
      <xs:documentation>Message to record service for filing.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element abstract="true" name="RecordServiceMessageAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An extension point for the enclosing message.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>