tyler_web_app/Connected Services/TylerCourtRecordMDEV5/returndaterequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:local="local" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tyler="urn:tyler:ecf:v5.0:extensions:common" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns="urn:tyler:ecf:v5.0:extensions:returndate" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.1/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:returndate="urn:tyler:ecf:v5.0:extensions:returndate" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:tyler:ecf:v5.0:extensions:returndate" version="5.0" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../ecf.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" />
  <xs:import schemaLocation="../niem/domains/jxdm/6.1/jxdm.xsd" namespace="http://release.niem.gov/niem/domains/jxdm/6.1/" />
  <xs:import schemaLocation="../niem/niem-core/4.0/niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/4.0/" />
  <xs:import schemaLocation="../niem/proxy/xsd/4.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" />
  <xs:import schemaLocation="../extension/common.xsd" namespace="urn:tyler:ecf:v5.0:extensions:common" />
  <xs:annotation>
    <xs:documentation> Schema for namespace urn:tyler:ecf:v5.0:extensions:getreturndate</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ReturnDateMessageType">
    <xs:complexContent mixed="false">
      <xs:extension base="ecf:CaseFilingType">
        <xs:sequence>
          <xs:element minOccurs="0" ref="ecf:CaseParticipantRoleCode" />
          <xs:element minOccurs="0" ref="nc:Case" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="returndate:ReturnDateMessageAugmentationPoint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReturnDateMessage" type="returndate:ReturnDateMessageType" />
  <xs:element abstract="true" name="ReturnDateMessageAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An augmentation</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>