tyler_web_app/Connected Services/TylerCourtRecordMDEV5/returndateresponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:returnresponse="urn:tyler:ecf:v5.0:extensions:returndateresponse" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:ns1="urn:tyler:ecf:v5.0:extensions:returndate" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.1/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:local="local" xmlns="urn:tyler:ecf:v5.0:extensions:returndateresponse" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:tyler:ecf:v5.0:extensions:returndateresponse" version="5.0" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../ecf.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" />
  <xs:import schemaLocation="../niem/domains/jxdm/6.1/jxdm.xsd" namespace="http://release.niem.gov/niem/domains/jxdm/6.1/" />
  <xs:import schemaLocation="../niem/niem-core/4.0/niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/4.0/" />
  <xs:annotation>
    <xs:documentation> Schema for namespace urn:tyler:ecf:v5.0:extensions:returndateresponse</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ReturnDateResponseMessageType">
    <xs:complexContent mixed="false">
      <xs:extension base="ecf:ResponseMessageType">
        <xs:sequence>
          <xs:element minOccurs="0" ref="nc:Case" />
          <xs:element minOccurs="0" ref="returnresponse:ReturnDate" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="returnresponse:ReturnDateResponseMessageAugmentationPoint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReturnDateResponseMessage" type="returnresponse:ReturnDateResponseMessageType" />
  <xs:element abstract="true" name="ReturnDateResponseMessageAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An augmentation</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReturnDate" type="nc:DateType" />
</xs:schema>