tyler_web_app/Connected Services/TylerCourtRecordMDEV5/servicecallback.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:common="urn:tyler:ecf:v5.0:extensions:common" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns="urn:tyler:ecf:v5.0:extensions:servicecallback" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:tyler:ecf:v5.0:extensions:servicecallback" version="5.0" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="..\ecf.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" />
  <xs:import schemaLocation="..\niem\niem-core\4.0\niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/4.0/" />
  <xs:import schemaLocation="..\niem\utility\structures\4.0\structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/" />
  <xs:import schemaLocation="common.xsd" namespace="urn:tyler:ecf:v5.0:extensions:common" />
  <xs:annotation>
    <xs:documentation> Schema for namespace https://www.tylertech.com/efm/ecf/v5/servicecallback</xs:documentation>
  </xs:annotation>
  <xs:complexType name="NotifyServiceCompleteMessageType">
    <xs:annotation>
      <xs:documentation>The asynchronous message from the Filing Review MDE to the Filing Assembly MDE conveying information concerning the service actions on the documents submitted for filing in a ReviewFilingMessage.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="ecf:CallbackMessageType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="ecf:ElectronicServiceInformation" />
          <xs:element minOccurs="1" maxOccurs="1" ref="common:ServiceDate" />
          <xs:element ref="common:SubmitterInformation" />
          <xs:element ref="common:RecipientInformation" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="NotifyServiceCompleteMessageAugmentationPoint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NotifyServiceCompleteMessage" type="NotifyServiceCompleteMessageType">
    <xs:annotation>
      <xs:documentation>The asynchronous message from the Filing Review MDE to the Filing Assembly MDE conveying information concerning the service actions on the documents submitted for filing in a ReviewFilingMessage.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element abstract="true" name="NotifyServiceCompleteMessageAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An extension point for the enclosing message.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>