tyler_web_app/Connected Services/TylerCourtRecordMDEV5/servicecaselistresponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:servicecaselistresponse="urn:tyler:ecf:v5.0:extensions:servicecaselistresponse" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:tyler:ecf:v5.0:extensions:servicecaselistresponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="..\ecf.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" />
  <xs:import schemaLocation="..\niem\niem-core\4.0\niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/4.0/" />
  <xs:import schemaLocation="..\niem\proxy\xsd\4.0\xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" />
  <xs:import schemaLocation="..\niem\utility\structures\4.0\structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/" />
  <xs:complexType name="GetServiceCaseListResponseMessageType">
    <xs:annotation>
      <xs:documentation>Message to return cases attached to a service contact.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="ecf:ResponseMessageType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="nc:Case" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="servicecaselistresponse:GetServiceCaseListResponseMessageAugmentationPoint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetServiceCaseListResponseMessage" type="servicecaselistresponse:GetServiceCaseListResponseMessageType">
    <xs:annotation>
      <xs:documentation>Message to retrieve cases attached to a service contact.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element abstract="true" name="GetServiceCaseListResponseMessageAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An extension point for the enclosing message.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>