tyler_web_app/Connected Services/TylerCourtRecordMDEV5/servicetyperequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:civil="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/civil" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:servicetypesrequest="urn:tyler:ecf:v5.0:extensions:servicetypesrequest" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:tyler:ecf:v5.0:extensions:servicetypesrequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="..\ecf.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" />
  <xs:import schemaLocation="..\niem\niem-core\4.0\niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/4.0/" />
  <xs:import schemaLocation="..\niem\proxy\xsd\4.0\xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" />
  <xs:import schemaLocation="..\niem\utility\structures\4.0\structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/" />
  <xs:import schemaLocation="..\civil.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/civil" />
  <xs:complexType name="GetServiceTypesMessageType">
    <xs:annotation>
      <xs:documentation>Message to retrieve service types for a set of codes.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="ecf:RequestMessageType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="ecf:CaseTypeCode" />
          <xs:element minOccurs="1" maxOccurs="1" ref="ecf:CaseNewIndicator" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="ecf:RegisterActionDescriptionCode" />
          <xs:element minOccurs="0" maxOccurs="1" ref="civil:AmountInControversy" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="servicetypesrequest:GetServiceTypesMessageAugmentationPoint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetServiceTypesMessage" type="servicetypesrequest:GetServiceTypesMessageType">
    <xs:annotation>
      <xs:documentation>Message to retrieve service logs for filing/service contact.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element abstract="true" name="GetServiceTypesMessageAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An extension point for the enclosing message.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>