tyler_web_app/Connected Services/TylerCourtRecordMDEV5/servicetyperesponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:servicetypesresponse="urn:tyler:ecf:v5.0:extensions:servicetypesresponse" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:tyler:ecf:v5.0:extensions:servicetypesresponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="..\ecf.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" />
  <xs:import schemaLocation="..\niem\niem-core\4.0\niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/4.0/" />
  <xs:import schemaLocation="..\niem\proxy\xsd\4.0\xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" />
  <xs:import schemaLocation="..\niem\utility\structures\4.0\structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/" />
  <xs:complexType name="GetServiceTypesResponseMessageType">
    <xs:annotation>
      <xs:documentation>Message to return service types.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="ecf:ResponseMessageType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="servicetypesresponse:ServiceType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="servicetypesresponse:GetServiceTypesResponseMessageAugmentationPoint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ServiceTypeType">
    <xs:sequence>
      <xs:element ref="servicetypesresponse:ServiceCodeID" />
      <xs:element ref="servicetypesresponse:Description" />
      <xs:element ref="servicetypesresponse:IsEmailRequired" />
      <xs:element ref="servicetypesresponse:IsStreetAddressRequired" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceType" type="servicetypesresponse:ServiceTypeType" />
  <xs:element name="ServiceCodeID" type="nc:TextType" />
  <xs:element name="Description" type="nc:TextType" />
  <xs:element name="IsEmailRequired" type="niem-xs:boolean" />
  <xs:element name="IsStreetAddressRequired" type="niem-xs:boolean" />
  <xs:element name="GetServiceTypesResponseMessage" type="servicetypesresponse:GetServiceTypesResponseMessageType">
    <xs:annotation>
      <xs:documentation>Message to retrieve service types.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element abstract="true" name="GetServiceTypesResponseMessageAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An extension point for the enclosing message.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>