tyler_web_app/Connected Services/TylerCourtRecordMDEV5/updatedocument.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:document="urn:tyler:ecf:v5.0:extensions:updatedocument" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:filing="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filing" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:tyler:ecf:v5.0:extensions:updatedocument" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../ecf.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" />
  <xs:import schemaLocation="../filing.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filing" />
  <xs:import schemaLocation="../niem/niem-core/4.0/niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/4.0/" />
  <xs:import schemaLocation="../niem/proxy/xsd/4.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" />
  <xs:import schemaLocation="../niem/utility/structures/4.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/" />
  <xs:complexType name="UpdateDocumentMessageType">
    <xs:annotation>
      <xs:documentation>Message to update an event document.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="ecf:CaseFilingType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="document:ReviewedLeadDocument" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="document:ReviewedConnectedDocument" />
          <xs:element minOccurs="1" maxOccurs="1" ref="nc:Case" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="document:UpdateDocumentMessageAugmentationPoint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReviewedLeadDocument" type="nc:DocumentType">
    <xs:annotation>
      <xs:documentation>The updated lead document</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReviewedConnectedDocument" type="nc:DocumentType">
    <xs:annotation>
      <xs:documentation>The updated connected document</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UpdateDocumentMessage" type="document:UpdateDocumentMessageType">
    <xs:annotation>
      <xs:documentation>Message resulting from updating a new document to an event.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element abstract="true" name="UpdateDocumentMessageAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An extension point for the enclosing message.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>