tyler_web_app/Connected Services/EFMUserService/EFMUserService16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:tyler:efm:services:schema:RegistrationResponse" elementFormDefault="qualified" targetNamespace="urn:tyler:efm:services:schema:RegistrationResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://california-stage.tylerhost.net/EFM/EFMUserService.svc?xsd=xsd31" namespace="urn:tyler:efm:services:schema:BaseResponse" />
  <xs:complexType name="RegistrationResponseType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="urn:tyler:efm:services:schema:BaseResponse" base="q1:BaseResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="UserID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FirmID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="PasswordHash" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ActivationRequired" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="ExpirationDateTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>