tyler_web_app/Connected Services/CourtPolicyMDE/feesrequest1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:filing="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filing" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:feesrequest="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/feesrequest" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/feesrequest" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/feesrequest" version="5.0" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ecf.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" />
  <xs:import schemaLocation="filing.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filing" />
  <xs:import schemaLocation="niem\utility\structures\4.0\structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/" />
  <xs:annotation>
    <xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/feesrequest</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GetFeesCalculationRequestMessageType">
    <xs:annotation>
      <xs:documentation>This query is a request for the total amount of court fees required for filing of one or more documents in a case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="ecf:RequestMessageType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="feesrequest:GetFeesCalculationRequestMessageAugmentationPoint" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="filing:FilingMessage" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetFeesCalculationRequestMessage" type="feesrequest:GetFeesCalculationRequestMessageType">
    <xs:annotation>
      <xs:documentation>This query is a request for the total amount of court fees required for filing of one or more documents in a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element abstract="true" name="GetFeesCalculationRequestMessageAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An extension point for the enclosing message.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>