tyler_web_app/Connected Services/CourtPolicyMDE/iCalendar-wscal-extensions1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xcal="urn:ietf:params:xml:ns:icalendar-2.0" elementFormDefault="qualified" targetNamespace="urn:ietf:params:xml:ns:icalendar-2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="iCalendar-valtypes.xsd" />
  <xs:include schemaLocation="iCalendar-props.xsd" />
  <xs:include schemaLocation="iCalendar.xsd" />
  <xs:complexType name="DurationParameterType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BaseParameterType">
        <xs:sequence>
          <xs:element name="duration" type="xs:duration" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="gap" substitutionGroup="xcal:baseParameter" type="xcal:DurationParameterType" />
  <xs:element name="granularity" substitutionGroup="xcal:baseProperty" type="xcal:DurationPropType" />
  <xs:complexType name="ToleranceValueType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
         A tolerance value is a set of durations which indicate the allowed
         tolerance for the indicated value, e.g. startafter=PT5M indicates that
         5 minutes late is acceptable. 
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="startbefore" type="xcal:DurationValueType" />
      <xs:element minOccurs="0" maxOccurs="1" name="startafter" type="xcal:DurationValueType" />
      <xs:element minOccurs="0" maxOccurs="1" name="endbefore" type="xcal:DurationValueType" />
      <xs:element minOccurs="0" maxOccurs="1" name="endafter" type="xcal:DurationValueType" />
      <xs:element minOccurs="0" maxOccurs="1" name="durationlong" type="xcal:DurationValueType" />
      <xs:element minOccurs="0" maxOccurs="1" name="durationshort" type="xcal:DurationValueType" />
      <xs:element minOccurs="0" maxOccurs="1" name="precision" type="xcal:DurationValueType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tolerance" substitutionGroup="xcal:baseProperty" type="xcal:TolerancePropType" />
  <xs:complexType name="TolerancePropType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BasePropertyType">
        <xs:sequence>
          <xs:element name="tolerate" type="xcal:ToleranceValueType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WsCalendarGluonType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
         A gluon takes vavailability.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:VcalendarContainedComponentType">
        <xs:sequence>
          <xs:element name="components" type="xcal:ArrayOfGluonContainedComponents" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfGluonContainedComponents">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="xcal:vavailability" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="gluon" substitutionGroup="xcal:vcalendarContainedComponent" type="xcal:WsCalendarGluonType" />
  <xs:complexType name="WsCalendarIntervalType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
         An interval takes no sub-components.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:VcalendarContainedComponentType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="interval" substitutionGroup="xcal:vcalendarContainedComponent" type="xcal:WsCalendarIntervalType" />
  <xs:complexType name="WsCalendarTypeType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:TextPropertyType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WsCalendarAttachType">
    <xs:annotation>
      <xs:documentation>types the content of the xCal attach element</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:BasePropertyType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="xcal:artifact" />
          <xs:element ref="xcal:artifactBase" />
          <xs:element ref="xcal:uri" />
          <xs:element ref="xcal:text" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="x-wsCalendar-attach" substitutionGroup="xcal:baseProperty" type="xcal:WsCalendarAttachType" />
  <xs:element name="x-wscalendar-type" substitutionGroup="xcal:baseProperty" type="xcal:WsCalendarTypeType" />
  <xs:element name="artifact" type="xcal:ArtifactType" />
  <xs:complexType name="ArtifactType">
    <xs:annotation>
      <xs:documentation>
        The artifact is here to handle elements that are not proper extensions 
        of wsCalendar.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:restriction base="xs:anyType">
        <xs:anyAttribute namespace="##other" processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element block="" name="artifactBase" type="xcal:ArtifactBaseType">
    <xs:annotation>
      <xs:documentation>
        The artifact Base is here for use in extending by other specifications 
        allowing attributes from other namespaces to be added to 
        ws-calendar-based schemas.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ArtifactBaseType" abstract="true" block="">
    <xs:annotation>
      <xs:documentation>
        The artifact Base is here for use in extending by other specifications, 
        to to allow attributes from other namespaces to be added to 
        ws-calendar-based schemas.
      </xs:documentation>
    </xs:annotation>
  </xs:complexType>
</xs:schema>