tyler_web_app/Connected Services/CourtPolicyMDE/reservedate1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:reservedate="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/reservedate" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/reservedate" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/reservedate" version="5.0" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ecf.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" />
  <xs:import schemaLocation="niem\niem-core\4.0\niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/4.0/" />
  <xs:import schemaLocation="niem\proxy\xsd\4.0\xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" />
  <xs:import schemaLocation="niem\utility\structures\4.0\structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/" />
  <xs:annotation>
    <xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/reservedate</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ReserveCourtDateMessageType">
    <xs:annotation>
      <xs:documentation>A request to allocate a court date on the schedule.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="ecf:CaseFilingType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" ref="ecf:CaseParticipantRoleCode" />
          <xs:element minOccurs="0" maxOccurs="1" ref="nc:Case" />
          <xs:element minOccurs="0" maxOccurs="1" ref="reservedate:EstimatedDuration" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="reservedate:PotentialStartTimeRange" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="reservedate:ReserveCourtDateMessageAugmentationPoint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EstimatedDuration" type="niem-xs:duration">
    <xs:annotation>
      <xs:documentation>The estimated duration of a court hearing</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PotentialStartTimeRange" type="nc:DateRangeType">
    <xs:annotation>
      <xs:documentation>A time before which a court date must begin</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReserveCourtDateMessage" type="reservedate:ReserveCourtDateMessageType">
    <xs:annotation>
      <xs:documentation>A request to allocate a court date on the schedule.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element abstract="true" name="ReserveCourtDateMessageAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An extension point for the enclosing message.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>