tyler_web_app/Connected Services/CourtPolicyMDE/scheduleresponse1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:scheduleresponse="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/scheduleresponse" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:xcal="urn:ietf:params:xml:ns:icalendar-2.0" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/scheduleresponse" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/scheduleresponse" version="5.0" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ecf.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" />
  <xs:import schemaLocation="niem\utility\structures\4.0\structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/" />
  <xs:import schemaLocation="ws-calendar/iCalendar.xsd" namespace="urn:ietf:params:xml:ns:icalendar-2.0" />
  <xs:annotation>
    <xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/scheduleresponse</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GetCourtScheduleResponseMessageType">
    <xs:annotation>
      <xs:documentation>The schedule of upcoming events in a court</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="ecf:ResponseMessageType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="scheduleresponse:GetCourtScheduleResponseMessageAugmentationPoint" />
          <xs:element minOccurs="0" maxOccurs="1" ref="xcal:icalendar" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCourtScheduleResponseMessage" type="scheduleresponse:GetCourtScheduleResponseMessageType">
    <xs:annotation>
      <xs:documentation>The schedule of upcoming events in a court</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element abstract="true" name="GetCourtScheduleResponseMessageAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An extension point for the enclosing message.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>