tyler_web_app/Connected Services/TylerCourtRecordMDEService/ECF-43312.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CoreFilingMessage-4.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:ecf="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" targetNamespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CoreFilingMessage-4.0" version="4.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../constraint/niem/niem-core/2.0/niem-core.xsd" namespace="http://niem.gov/niem/niem-core/2.0" />
  <xsd:import schemaLocation="../constraint/niem/structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0" />
  <xsd:import schemaLocation="../constraint/niem/appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0" />
  <xsd:import schemaLocation="../constraint/niem/proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0" />
  <xsd:import schemaLocation="../common/ECF-4.0-CommonTypes.xsd" namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" />
  <xsd:annotation>
    <xsd:documentation>CoreFilingMessage</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator xmlns:i="http://niem.gov/niem/appinfo/2.0">true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType name="CoreFilingMessageType">
    <xsd:annotation>
      <xsd:documentation>The structure of a Filing including any Payment Information will be documented in this section. This describes the filing transaction between the Filing Assembly MDE and the Filing Review MDE. This information will become part of the Record Docketing between the Filing Review MDE and the Court Record MDE but does not necessarily describe the information that is actually stored in the Court Record.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="ecf:ElectronicFilingMessageType">
        <xsd:sequence>
          <xsd:element ref="nc:Case" />
          <xsd:element minOccurs="0" ref="FilingConfidentialityIndicator" />
          <xsd:element maxOccurs="unbounded" ref="FilingLeadDocument" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" ref="FilingConnectedDocument" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CoreFilingMessage" type="CoreFilingMessageType">
    <xsd:annotation>
      <xsd:documentation>The structure of a Filing including any Payment Information will be documented in this section. This describes the filing transaction between the Filing Assembly MDE and the Filing Review MDE. This information will become part of the Record Docketing between the Filing Review MDE and the Court Record MDE but does not necessarily describe the information that is actually stored in the Court Record.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FilingConfidentialityIndicator" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Indicator by the filer that something in the message requires sensitive or confidential treatment. (This replaces the former "request to seal" document metadata.)</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FilingConnectedDocument" type="ecf:DocumentType">
    <xsd:annotation>
      <xsd:documentation>A document included in a Filing that supports the Document. This document is not separately entered on the docket or register of actions.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FilingLeadDocument" type="ecf:DocumentType">
    <xsd:annotation>
      <xsd:documentation>The pleading, motion or order that is the main document in a Filing. A Document may have Attachments.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>