tyler_web_app/Connected Services/TylerCourtRecordMDEService/ECF-43311.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.0" xmlns="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:RecordDocketingMessage-4.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:ecf="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" targetNamespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:RecordDocketingMessage-4.0" version="4.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../constraint/niem/niem-core/2.0/niem-core.xsd" namespace="http://niem.gov/niem/niem-core/2.0" />
  <xsd:import schemaLocation="../constraint/niem/structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0" />
  <xsd:import schemaLocation="../constraint/niem/appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0" />
  <xsd:import schemaLocation="../constraint/niem/proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0" />
  <xsd:import schemaLocation="../constraint/niem/domains/jxdm/4.0/jxdm.xsd" namespace="http://niem.gov/niem/domains/jxdm/4.0" />
  <xsd:import schemaLocation="../common/ECF-4.0-CommonTypes.xsd" namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" />
  <xsd:annotation>
    <xsd:documentation>RecordDocketingMessage</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator xmlns:i="http://niem.gov/niem/appinfo/2.0">true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType name="RecordDocketingMessageType">
    <xsd:annotation>
      <xsd:documentation>Message resulting from clerk review and edit of a CoreFilingMessage.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="ecf:ElectronicFilingMessageType">
        <xsd:sequence>
          <xsd:element ref="j:CaseCourt" />
          <xsd:element minOccurs="0" ref="nc:CaseTrackingID" />
          <xsd:element ref="ecf:ReviewedLeadDocument" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ecf:ReviewedConnectedDocument" />
          <xsd:element minOccurs="0" ref="SealCaseIndicator" />
          <xsd:element minOccurs="0" ref="FilingReviewCommentsText" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="FilingReviewCommentsText" type="nc:TextType">
    <xsd:annotation>
      <xsd:documentation>Comments provided by the clerk to the court record system during review.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RecordDocketingMessage" type="RecordDocketingMessageType">
    <xsd:annotation>
      <xsd:documentation>Message resulting from clerk review and edit of a CoreFilingMessage.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SealCaseIndicator" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Instruction from the clerk to the court record to represent this case as "sealed."</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>