tyler_web_app/Connected Services/TylerCourtRecordMDEService/EventCallback1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.0" xmlns="urn:tyler:ecf:extensions:EventCallbackMessage" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:ecf="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" targetNamespace="urn:tyler:ecf:extensions:EventCallbackMessage" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../constraint/niem/niem-core/2.0/niem-core.xsd" namespace="http://niem.gov/niem/niem-core/2.0" />
  <xsd:import schemaLocation="../constraint/niem/structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0" />
  <xsd:import schemaLocation="../constraint/niem/appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0" />
  <xsd:import schemaLocation="../constraint/niem/proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0" />
  <xsd:import schemaLocation="../constraint/niem/domains/jxdm/4.0/jxdm.xsd" namespace="http://niem.gov/niem/domains/jxdm/4.0" />
  <xsd:import schemaLocation="../common/ECF-4.0-CommonTypes.xsd" namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" />
  <xsd:annotation>
    <xsd:documentation>EventCallbackMessage</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator xmlns:i="http://niem.gov/niem/appinfo/2.0">true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType name="EventCallbackMessageType">
    <xsd:annotation>
      <xsd:documentation>The message returned from the Court Record MDE to the Filing Review MDE when the case has been created.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="ecf:SendingMDELocationID" />
      <xsd:element ref="ecf:SendingMDEProfileCode" />
      <xsd:element ref="EventTypeCode" />
      <xsd:element ref="Event" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="EventCallbackMessage" type="EventCallbackMessageType">
    <xsd:annotation>
      <xsd:documentation>The message returned from the Court Record MDE to the Filing Review MDE when the case has been created.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EventTypeCode" type="nc:TextType" />
  <xsd:element name="Event" type="EventType" />
  <xsd:element name="EventVariable" type="EventVariableType" />
  <xsd:element name="EventKey" type="nc:TextType" />
  <xsd:element name="EventValue" type="nc:TextType" />
  <xsd:complexType name="EventType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" ref="EventVariable" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EventVariableType">
    <xsd:sequence>
      <xsd:element ref="EventKey" />
      <xsd:element ref="EventValue" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>