tyler_web_app/Connected Services/EFMFirm/EFMFirmService28.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:tyler:efm:services:schema:GetPublicListRequest" elementFormDefault="qualified" targetNamespace="urn:tyler:efm:services:schema:GetPublicListRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://california-stage.tylerhost.net/EFM/EFMFirmService.svc?xsd=xsd2" namespace="urn:tyler:efm:services:schema:BaseRequest" />
  <xs:complexType name="GetPublicListRequestType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="urn:tyler:efm:services:schema:BaseRequest" base="q1:BaseRequestType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FirmName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>