tyler_web_app/Connected Services/TylerFilingReviewCriminalMDEService/ECF-416.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.0" xmlns="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:BankruptcyCase-4.0" xmlns:a="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:ecf="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" targetNamespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:BankruptcyCase-4.0" version="4.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../constraint/niem/niem-core/2.0/niem-core.xsd" namespace="http://niem.gov/niem/niem-core/2.0" />
  <xsd:import schemaLocation="../constraint/niem/structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0" />
  <xsd:import schemaLocation="../constraint/niem/appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0" />
  <xsd:import schemaLocation="../constraint/niem/proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0" />
  <xsd:import schemaLocation="../constraint/niem/domains/jxdm/4.0/jxdm.xsd" namespace="http://niem.gov/niem/domains/jxdm/4.0" />
  <xsd:import schemaLocation="../common/ECF-4.0-CommonTypes.xsd" namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" />
  <xsd:import schemaLocation="../common/ECF-4.0-AppInfo.xsd" namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0" />
  <xsd:annotation>
    <xsd:documentation>BankruptcyCase</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator xmlns:i="http://niem.gov/niem/appinfo/2.0">true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType name="BankruptcyCaseType">
    <xsd:annotation>
      <xsd:documentation>Additional information specific to bankruptcy cases.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="nc:CaseType">
        <xsd:sequence>
          <xsd:element ref="j:CaseAugmentation" />
          <xsd:element ref="ecf:CaseAugmentation" />
          <xsd:element ref="AssetNoticeIndicator" />
          <xsd:element ref="NumberOfCreditorsValueLevelCode" />
          <xsd:element ref="EstimatedAssetsValueLevelCode" />
          <xsd:element ref="EstimatedDebtsValueLevelCode" />
          <xsd:element ref="SmallBusinessIndicator" />
          <xsd:element ref="Section1121eIndicator" />
          <xsd:element ref="DebtorTypeCode" />
          <xsd:element ref="JointPetitionIndicator" />
          <xsd:element ref="NatureOfDebtCode" />
          <xsd:element ref="VoluntaryIndicator" />
          <xsd:element ref="BankruptcyStatute" />
          <xsd:element maxOccurs="2" ref="Debtor" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AssetNoticeIndicator" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Whether assets are available for distribution to creditors.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BankruptcyCase" substitutionGroup="nc:Case" type="BankruptcyCaseType">
    <xsd:annotation>
      <xsd:documentation>Additional information specific to bankruptcy cases.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="Case" xmlns:i="http://niem.gov/niem/appinfo/2.0" />
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BankruptcyStatute" type="j:StatuteType">
    <xsd:annotation>
      <xsd:documentation>Section 11 of the United States Code pertaining to bankruptcy. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DebtorTypeCode" type="xsd:normalizedString">
    <xsd:annotation>
      <xsd:documentation>"Form of Origin" indicator from the Bankruptcy Petition Form. Allowable values defined in ECF-4.0-DebtorTypeCode.gc.</xsd:documentation>
      <xsd:appinfo>
        <a:CodeListReference a:CanonicalURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:DebtorTypeCode" a:CanonicalVersionURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:DebtorTypeCode-4.0" a:LocationURI="../../gc/ECF-4.0-DebtorTypeCode.gc" xmlns:a="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:AppInfo-4.0" />
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Debtor" type="nc:EntityType">
    <xsd:annotation>
      <xsd:documentation>A person or organization on whose behalf, or against whom, a bankruptcy petition is filed.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EstimatedAssetsValueLevelCode" type="xsd:normalizedString">
    <xsd:annotation>
      <xsd:documentation>A coded set of ranges of dollar values for assets. Generally used for statistical reporting, not case management.  Allowable values defined in ECF-4.0-ValueLevelCode.gc.</xsd:documentation>
      <xsd:appinfo>
        <a:CodeListReference a:CanonicalURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:EstimatedValueLevelCode" a:CanonicalVersionURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:EstimatedValueLevelCode-4.0" a:LocationURI="../../gc/ECF-4.0-EstimatedValueLevelCode.gc" />
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EstimatedDebtsValueLevelCode" type="xsd:normalizedString">
    <xsd:annotation>
      <xsd:documentation>A coded set of ranges of dollar values for debts. Generally used for statistical reporting, not case management.  Allowable values defined in ECF-4.0-ValueLevelCode.gc.</xsd:documentation>
      <xsd:appinfo>
        <a:CodeListReference a:CanonicalURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:EstimatedDebtsValueLevelCode" a:CanonicalVersionURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:EstimatedDebtsValueLevelCode-4.0" a:LocationURI="../../gc/ECF-4.0-EstimatedDebtsValueLevelCode.gc" />
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="JointPetitionIndicator" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Whether or not spouses are filing as joint debtors</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="NatureOfDebtCode" type="xsd:normalizedString">
    <xsd:annotation>
      <xsd:documentation>Whether the debts involved in the case are "business" or "consumer".  Allowable values defined in ECF-4.0-NatureOfDebtCode.gc.</xsd:documentation>
      <xsd:appinfo>
        <a:CodeListReference a:CanonicalURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:NatureOfDebtCode" a:CanonicalVersionURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:NatureOfDebtCode-4.0" a:LocationURI="../../gc/ECF-4.0-NatureOfDebtCode.gc" />
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="NumberOfCreditorsValueLevelCode" type="xsd:normalizedString">
    <xsd:annotation>
      <xsd:documentation>A coded set of ranges of numbers of creditors involved in the case.  Allowable values defined in ECF-4.0-NumberOfCreditorsValueLevelCode.gc.</xsd:documentation>
      <xsd:appinfo>
        <a:CodeListReference a:CanonicalURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:NumberOfCreditorsValueLevelCode" a:CanonicalVersionURI="urn:oasis:names:tc:legalxml-courtfiling:codelist:gc:NumberOfCreditorsValueLevelCode-4.0" a:LocationURI="../../gc/ECF-4.0-NumberOfCreditorsValueLevelCode.gc" />
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Section1121eIndicator" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>The debtor has elected to proceed under Section 1121 (e) of the bankruptcy code.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SmallBusinessIndicator" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Whether the initiating party is a small business, as defined in bankruptcy code.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="VoluntaryIndicator" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Whether the debtor has initiated bankruptcy (true, corresponding to Federal code "V") or a creditor has initiated bankruptcy (false, corresponding to Federal code "I")</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>