tyler_web_app/Connected Services/TylerFilingReviewCriminalMDEService/ECF-424.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.0" xmlns="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CaseListQueryMessage-4.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:ecf="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" targetNamespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CaseListQueryMessage-4.0" version="4.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../constraint/niem/niem-core/2.0/niem-core.xsd" namespace="http://niem.gov/niem/niem-core/2.0" />
  <xsd:import schemaLocation="../constraint/niem/structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0" />
  <xsd:import schemaLocation="../constraint/niem/appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0" />
  <xsd:import schemaLocation="../constraint/niem/proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0" />
  <xsd:import schemaLocation="../constraint/niem/domains/jxdm/4.0/jxdm.xsd" namespace="http://niem.gov/niem/domains/jxdm/4.0" />
  <xsd:import schemaLocation="../common/ECF-4.0-CommonTypes.xsd" namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:CommonTypes-4.0" />
  <xsd:annotation>
    <xsd:documentation>CaseListQueryMessage</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator xmlns:i="http://niem.gov/niem/appinfo/2.0">true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType name="CaseListQueryMessageType">
    <xsd:annotation>
      <xsd:documentation>This is a query for a list of cases that match a set of criteria including case participants, case classification, case status, and date of the case was initiated.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="ecf:QueryMessageType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" ref="CaseListQueryCase" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" ref="CaseListQueryTimeRange" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" ref="CaseListQueryCaseParticipant" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CaseParticipantType">
    <xsd:annotation>
      <xsd:documentation>Placeholder for all case participants, i.e. persons or organizations playing a role in a case. This is where all actor details are expressed.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:choice>
            <xsd:element ref="ecf:CaseParticipant" />
            <xsd:element ref="FilingSubmissionSubmitterID" />
          </xsd:choice>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CaseListQueryCase" type="nc:CaseType">
    <xsd:annotation>
      <xsd:documentation>Structure for general information about a case used in a query.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CaseListQueryMessage" type="CaseListQueryMessageType">
    <xsd:annotation>
      <xsd:documentation>This is a query for a list of cases that match a set of criteria including case participants, case classification, case status, and date of the case was initiated.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CaseListQueryTimeRange" type="nc:DateRangeType">
    <xsd:annotation>
      <xsd:documentation>The beginning and ending filing dates/times of cases about which information is sought in this query.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CaseListQueryCaseParticipant" type="CaseParticipantType">
    <xsd:annotation>
      <xsd:documentation>Information describing a participant when a query seeks information about the cases in which the person or organization is a participant.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FilingSubmissionSubmitterID" type="nc:IdentificationType">
    <xsd:annotation>
      <xsd:documentation>A unique identifier assigned by the filing assembly MDE for the person who is managing the interface between the filer and the filing assembly MDE. This person will receive secondary service on behalf of the filer. This is also the serviceRecipientID for subsequent filings in this case, and asynchronous responses to this filing.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>