tyler_web_app/Connected Services/CourtRecordServiceV5/caselistrequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:caselistrequest="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/caselistrequest" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/caselistrequest" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/caselistrequest" version="5.0" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ecf.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" />
  <xs:import schemaLocation="niem\niem-core\4.0\niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/4.0/" />
  <xs:import schemaLocation="niem\utility\structures\4.0\structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/" />
  <xs:annotation>
    <xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/caselistrequest</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CaseListQueryCriteriaType">
    <xs:complexContent mixed="false">
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" ref="caselistrequest:CaseParticipant" />
          <xs:element minOccurs="0" maxOccurs="1" ref="ecf:CaseCategoryCode" />
          <xs:element minOccurs="0" maxOccurs="1" ref="nc:ActivityStatus" />
          <xs:element minOccurs="0" maxOccurs="1" ref="nc:DateRange" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetCaseListRequestMessageType">
    <xs:annotation>
      <xs:documentation>This is a query for a list of cases that match a set of criteria including case participants, case classification, case status, and date of the case was initiated.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="ecf:RequestMessageType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="caselistrequest:CaseListQueryCriteria" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="caselistrequest:GetCaseListRequestMessageAugmentationPoint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CaseListQueryCriteria" type="caselistrequest:CaseListQueryCriteriaType">
    <xs:annotation>
      <xs:documentation>Criteria limiting the list of cases to be returned.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseParticipant" type="nc:EntityType">
    <xs:annotation>
      <xs:documentation>Information describing a participant when a query seeks information about the cases in which the person or organization is a participant.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GetCaseListRequestMessage" type="caselistrequest:GetCaseListRequestMessageType">
    <xs:annotation>
      <xs:documentation>This is a query for a list of cases that match a set of criteria including case participants, case classification, case status, and date of the case was initiated.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element abstract="true" name="GetCaseListRequestMessageAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An extension point for the enclosing message.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>