tyler_web_app/Connected Services/CourtRecordServiceV5/payment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:payment="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/payment" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/payment" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/payment" version="5.0" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://docs.oasis-open.org/ubl/os-UBL-2.2/xsd/common/UBL-CommonAggregateComponents-2.2.xsd" namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" />
  <xs:import schemaLocation="ecf.xsd" namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" />
  <xs:import schemaLocation="niem\niem-core\4.0\niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/4.0/" />
  <xs:import schemaLocation="niem\proxy\xsd\4.0\xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" />
  <xs:import schemaLocation="niem\utility\structures\4.0\structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/" />
  <xs:annotation>
    <xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/payment</xs:documentation>
  </xs:annotation>
  <xs:complexType name="PaymentMessageType">
    <xs:annotation>
      <xs:documentation>The payment submitted with a filing.  The payment may consist of a fee for filing of the document(s) submitted, or for a fine or other payment due to the court.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="cac:Address" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="cac:AllowanceCharge" />
          <xs:element minOccurs="0" maxOccurs="1" ref="cac:Payment" />
          <xs:element minOccurs="0" maxOccurs="1" ref="cac:PaymentMandate" />
          <xs:element minOccurs="0" maxOccurs="1" ref="ecf:FeeExceptionReasonCode" />
          <xs:element minOccurs="0" maxOccurs="1" ref="ecf:FeeExceptionSupportingText" />
          <xs:element minOccurs="1" maxOccurs="1" ref="payment:CorrectedPaymentIndicator" />
          <xs:element minOccurs="1" maxOccurs="1" ref="payment:Payer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CorrectedPaymentIndicator" type="niem-xs:boolean">
    <xs:annotation>
      <xs:documentation>Indicates whether the payment has been corrected in the Filing Review MDE</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Payer" type="nc:EntityType">
    <xs:annotation>
      <xs:documentation>Name of the payer of the FilingPayment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PaymentMessage" type="payment:PaymentMessageType">
    <xs:annotation>
      <xs:documentation>The payment submitted with a filing.  The payment may consist of a fee for filing of the document(s) submitted, or for a fine or other payment due to the court.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>