tyler_web_app/Connected Services/EFMUser/EFMUserService52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:tyler:efm:services:schema:ChangePasswordResponse" elementFormDefault="qualified" targetNamespace="urn:tyler:efm:services:schema:ChangePasswordResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://california-efm-stage.tylertech.cloud/EFM/EFMUserService.svc?xsd=xsd32" namespace="urn:tyler:efm:services:schema:BaseResponse" />
  <xs:complexType name="ChangePasswordResponseType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="urn:tyler:efm:services:schema:BaseResponse" base="q1:BaseResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="PasswordHash" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ExpirationDateTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>