tyler_web_app/Connected Services/EFMUser/EFMUserService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:tyler:efm:services:schema:RemoveUserRoleRequest" elementFormDefault="qualified" targetNamespace="urn:tyler:efm:services:schema:RemoveUserRoleRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://california-efm-stage.tylertech.cloud/EFM/EFMUserService.svc?xsd=xsd2" namespace="urn:tyler:efm:services:schema:BaseRequest" />
  <xs:import schemaLocation="https://california-efm-stage.tylertech.cloud/EFM/EFMUserService.svc?xsd=xsd5" namespace="urn:tyler:efm:services:schema:Common" />
  <xs:complexType name="RemoveUserRoleRequestType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="urn:tyler:efm:services:schema:BaseRequest" base="q1:BaseRequestType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="UserID" type="xs:string" />
          <xs:element xmlns:q2="urn:tyler:efm:services:schema:Common" minOccurs="1" maxOccurs="1" ref="q2:Role" />
          <xs:element minOccurs="0" maxOccurs="1" name="Location" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>